$accentColor = rgb(110,64,201)
$textColor = rgb(36,41,46)
$borderColor = rgb(242,242,242) //默认边框颜色
$codeBgColor = rgb(255,255,255) //默认背景颜色

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
  opacity :1
}